@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

body {
  background-color: #ffc15e;
  color: #1f1300;

  font-family: Roboto, Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  font-weight: normal;

  margin-top: 180px;
}

.conteiner {
  max-width: 750px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #1f1300;
  transition: all 0.15s;
}

a:hover {
  color: rgb(153, 83, 4);
}

a:active {
  color: rebeccapurple;
}

.links {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  text-transform: uppercase;
  background-color: #cc5803;
  height: 150px;
  list-style: none;
  padding: 0 50px;
  margin-top: 0;
}

.links li:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7b05b;
  height: 100px;
  width: 100px;
  border: 3px solid #1f1300;
  border-radius: 50%;
}

dl {
  background-color: #f7b05b;
  padding: 30px;
  border-radius: 3px;
}

dt {
  color: #cc5803;
  margin-bottom: 10px;
  border-bottom: 1px solid #1f1300;
  width: 25%;
}

dd {
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
}
